.navbar {
  position: fixed;
  top: 0;
  right: 10px;
  padding: 20px;
  color: #fff;
}

.navbar_list {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
}

.navbar_list svg {
  font-size: 18px;
}

.btn_links {
  padding: 5px 15px;
  color: #132742;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: #fff;
  transition: all .5s ease;
}

.btn_links:hover {
  color: #fff;
  background-color: transparent;
}